# Node.js
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
venv.lib/
pytest_cache/
*.pyo

# Docker
*.dockerfile
Dockerfile
docker-compose.yml

# VS Code
.vscode/

# IDEs and Editors
.idea/
*.sublime-project
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db

# Build output
frontend/build/
backend/app/__pycache__/
backend/app/*.egg-info/
backend/app/*.egg
backend/app/dist/
